body {
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    background-color: #4caf50;
    content: #fff;
    padding: 10px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.search input {
    padding: 5px;
    margin-right: 10px;
}

.weather-info, .forecast, .search-history  {
    margin-bottom: 20px;
}

.weather-info h2, .forecast h2, .search-history h2 {
    margin-bottom: 10px;
}

.search-history li {
    cursor: pointer;
}